* {
  font-family: 'Press Start 2P', monospace;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  width: min-content;
}

button {
  margin-bottom: 8px;
  height: 48px;
}

a {
  margin-top: 24px;
  width: 100%;
  height: 48px;
  text-align: center;
}

.editor-container {
  display: flex;
}

.editor-tools {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.canvas-container {
  position: relative;
}

.editor-tools > button, .editor-tools > input {
  width: 64px;
  height: 64px;
}

.canvas-background {
  position: absolute;
  pointer-events: none;
}

.canvas {
  z-index: 1;
  position: relative;
}

.editor-tools aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor-switch-color {
  cursor: pointer;
}
