section {
  display: flex;
  flex-direction: column;
  width: min-content;
}

button {
  margin-bottom: 8px;
  height: 48px;
}

a {
  margin-top: 24px;
  width: 100%;
  height: 48px;
  text-align: center;
}

.editor-container {
  display: flex;
}

.editor-tools {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.editor-tools > button {
  width: 64px;
  height: 64px;
}

.canvas {
  border: 1px solid;
}

.editor-tools aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
